/* 
    Course: SENG 513
    Date: Nov. 13th, 2023
    Assignment #1
    Name: Dawood Afzaal
    UCID: 30063067
*/

:root {
    --playerX: rgb(66, 167, 250);
    --playerO: #ff0000;
    --tie: #efff63;
    --siteFont: 'Roboto', sans-serif;
    --displayFontSizes: 1.5rem;
    --currentPlayerColor: var(--playerX);
}

body {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    padding: 5rem 0rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    background-color: black;
    color: white;
    width: 8.5rem;
    height: 3.5rem;
    border: 1px solid white;
    font-size: 1rem;
    margin: 0rem 2rem;
    border-radius: 5px;
}

.buttons button:hover {
    background-color: white;
    color: black;
}


.container {
    padding: 5rem 0rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.container.active .tile:hover::before {
    content: attr(data-hover);
    color: var(--currentPlayerColor);
    font-family: var(--siteFont);
}

.container .tile.filled:hover::before {
    content: '';
    color: transparent;
}

.x {
    font-family: var(--siteFont);
    color: var(--playerX);
}

.o {
    color: var(--playerO);
    font-family: var(--siteFont);
}

#instructions {
    display: none;
    border: 1px solid white;
    padding: 30px;
    font-family: var(--siteFont);
    text-align: center;
    margin-top: 50px;
    width: 600px;
}

#close-btn {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    margin: 1rem 2rem;
    border-radius: 5px;
}

#close-btn:hover {
    background-color: white;
    color: black;
}

.btn-styling {
    background-color: black;
    color: white;
    width: 6.5rem;
    height: 3.0rem;
    border: 1px solid white;
    font-size: 1rem;
    margin: 0rem 2rem;
    border-radius: 5px;
}

.btn-styling:hover {
    background-color: white;
    color: black;
}

.player1 {
    color: var(--playerO);
}

.player2 {
    color: var(--playerX);
}

#display-player {
    font-family: var(--siteFont);
    font-size: var(--displayFontSizes);
    padding: 1.5rem 1.5rem;
    color: var(--playerX);
    display: none;
}

.display-current-player {
    margin-top: 3.5rem;
}

.scoreboard {
    font-family: var(--siteFont);
    font-size: var(--displayFontSizes);
    margin-top: 3.5rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

.player-x-win-count {
    color: var(--playerX);
}

.player-o-win-count {
    color: var(--playerO);
}

.tie-count {
    color: var(--tie);
}

.player-x-win-count, .player-o-win-count, .tie-count {
    margin-left: 5px;
}